<template name="dialog_tabs">
    <div class="cm-dialog-tabs">

        <div class="d-flex flex-row align-items-start">

            <ul class="nav nav-tabs d-flex flex-column" role="tablist" aria-orientation="horizontal">
                {{#each it in tabsList }}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {{ itemActive it }}" id="nav-{{ it.nav_id }}" type="button" role="tab" data-tab-name="{{ it.name }}"
                                data-bs-toggle="tab" data-bs-target="#tab-{{ it.content_id }}"
                                aria-controls="tab-{{ it.content_id }}" aria-selected="{{ itemSelected it }}">
                            {{ navLabel it }}
                        </button>
                    </li>
                {{/each}}
            </ul>
    
            <div class="tab-content x-w100">
                {{#each it in tabsList }}
                    <div class="tab-pane fade {{ itemShow it }} {{ itemActive it }}" id="tab-{{ it.content_id }}" role="tabpanel" aria-labelledby="nav-{{ it.nav_id }}" tabindex="0">
                        <div class="title">
                            {{{ navTitle it }}}
                        </div>
                        <div class="before">
                            {{{ navBefore it }}}
                        </div>
                        <div class="content">
                            {{{ navContent it }}}
                        </div>
                        <div class="cookies-list">
                            {{#each c in navList it }}
                                <div class="cookie-item d-flex flex-row align-items-center">
                                    {{ c.name }}
                                    {{> toggleSwitch (parmsSwitch c) }}
                                </div>
                            {{/each}}
                        </div>
                        <div class="after">
                            {{{ navAfter it }}}
                        </div>
                    </div>
                {{/each}}
            </div>
    
        </div>

    </div>
</template>
