<template name="cmSliding">
    <div class="cmSliding">

        {{#if show}}
            <div class="cm-body">
                <img src="/packages/pwix_cookie-manager/resources/png/info-primary.png" height="{{ imageHeight }}" alt="Information" />

                <div class="text">
                    {{#if uiSMView }}
                        {{{ i18n key="sliding.body_sm" }}}
                    {{else}}
                        {{{ i18n key="sliding.body" }}}
                    {{/if}}

                    {{#if cookiesPolicy }}
                        <div class="cm-policy-link">
                            {{> cmPolicyLink }}
                        </div>
                    {{/if}}

                    {{#if cookiesManager }}
                        <div class="cm-manager-link">
                            {{> cmManagerLink }}
                        </div>
                    {{/if}}
                </div>

                <div class="buttons">
                    <button class="btn btn-sm btn-primary cm-gotit" type="button">{{ i18n key="sliding.gotit" }}</button>
                </div>
            </div>
        {{/if}}

    </div>
</template>
