<template name="cm_dialog_buttons">
    <div class="cm-dialog-buttons">

        <div class="left">
            {{#if haveRejectAll }}
                <button type="button" class="btn btn-secondary {{ smallBtn }}" data-cm-name="RejectAll">
                    {{ rejectLabel }}
                </button>
            {{/if}}
        </div>

        <div class="right">
            <button type="button" class="btn btn-secondary {{ smallBtn }}" data-cm-name="Choose">
                {{ chooseLabel }}
            </button>
    
            <button type="button" class="btn btn-primary {{ smallBtn }}" data-cm-name="AcceptAll">
                {{ acceptLabel }}
            </button>
        </div>

    </div>
</template>
