<template name="cm_dialog_buttons">
    <div class="cm-dialog-buttons">

        <div class="left">
            <button type="button" class="btn btn-secondary" data-cm-name="reject">
                {{ rejectLabel }}
            </button>
        </div>

        <div class="right">
            <button type="button" class="btn btn-secondary" data-cm-name="choose">
                {{ chooseLabel }}
            </button>
    
            <button type="button" class="btn btn-primary" data-cm-name="accept">
                {{ acceptLabel }}
            </button>
        </div>

    </div>
</template>
